@import "tailwindcss";

:root {
  --background: 0 0% 100%;
  --foreground: 240 10% 3.9%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
  }
}

.dark {
  --background: 240 10% 3.9%;
  --foreground: 0 0% 98%;
}

/* Custom base styles */
@layer base {
  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
  }

  /* Apply border color */
  * {
    border-color: #e4e4e7;
    /* zinc.200 */
  }

  .dark * {
    border-color: #27272a;
    /* zinc.800 */
  }
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(156, 163, 175, 0.5);
  border-radius: 20px;
  border: 3px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(107, 114, 128, 0.8);
}